// +--------+
// | BUTTON |
// +--------+

.btn {
    position: relative;
    padding: 2.5rem 10rem;
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s;
    outline: none;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        height: 500%;
        width: 120%;
        top: -10rem;
        left: -2rem;
        background: linear-gradient(to right, var(--color-cyan), var(--color-blue));
        transition: transform .2s;
        z-index: -1;
    }

    &:hover::before {
        transform: rotate(180deg);
    }

    &:active {
        transform: scale(.95);
    }
}

// +---------+
// | FEATURE |
// +---------+

.feature {
    text-align: center;

    &__img {
        height: 10rem;
        width: auto;
    }
}